<%- include("header.ejs")%>
<body>
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sticky-nav">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <i class="fa-regular fa-calendar-days"></i>
              <span class="fs-4 date-heading">Today | <%= day%></span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="#" class="nav-link text-white" aria-current="page">
                  Monday
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Tuesday
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Wednesday
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Thursday
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Friday
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Saturday
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Sunday
                </a>
              </li>
            </ul>
          </div>

